<html lang="en" data-bs-theme="dark">


<div style="text-align: center;">
    <h2><b>App is loading...</b></h2>

    <!-- Reload page to frontpage -->
    <p><a href="/">Reload</a></p>
    <script>
        setTimeout(function () {
            window.location.href = "/";
        }, 5000);
    </script>



    <p>This should not take more than a minute or two.<br></p>
    <p>If this message does not disappear, please contact the administrator:<br>
        <a href="mailto:nft@hardy.se">nft@hardy.se</a> / <a href="https://discord.gg/WGYaCcApvQ" class="contact" target="_blank">Discord</a>

    </p>
</div>

</html>