<html lang="en" data-bs-theme="dark">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="{{ url_for('static', filename='css/dist/bootstrap.min.css') }}" rel="stylesheet" />

    <link href="{{ url_for('static', filename='css/nft.css') }}" rel="stylesheet" />


    <!-- JavaScripts -->
    <script src="{{ url_for('static', filename='js/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dist/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bootstrap_darkmode_selector.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calculate_fields_init.js') }}"></script>

    <title>Tomorrowland NFTs</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico')}}">
</head>

<body>
    {% for nft in nfts | sort(attribute='order') %}
    {% if nft.order != 0 and nft.order != 9999 %}
    <div class="col-lg-4 col-md-12 col-sm-12 card-container {{ nft.symbol }}">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title"><a href="https://magiceden.io/marketplace/{{ nft.symbol }}" target="_blank" class="card-link">{{ nft.name }} <i class="fa fa-external-link" aria-hidden="true"></i></a></h5>
                <h6>#{{ nft.order }}</h6>
            </div>
            <div class="card-body nft-image" style="background-image: url('{{ nft.image }}');">
                <p class="card-text">Floor: <b>{{ '%.3f' | format(nft.floorPrice / 1000000000) }} SOL</b> ({{ '%.2f' | format(nft.floorPrice / 1000000000 * currency.price) }}{{ currency.sign }})</p>
                <p class="card-text">Listed: {{ nft.listedCount }} pcs</p>
                <p class="card-text">Average 24h: {{ '%.3f' | format(nft.avgPrice24hr / 1000000000) }} SOL</p>

                <div class="calculator-fields">
                    <input type="number" class="nft-quantity" data-floor-price="{{ nft.floorPrice }}" data-currency-price="{{ currency.price }}" value="0">
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}

    <div class="col-lg-4 col-md-12 col-sm-12 card-container floorprice">
        <div class="card">
            <div class="card-body">
                <p class="card-text totalFloor">Total: <b>{{ '%.3f' | format(total_floor_price / 1000000000) }} SOL</b> (<span>{{ '%.3f' | format(total_floor_price / 1000000000 * currency.price) }}</span>{{ currency.sign }})
                    <br><span class="date">{{ nftfetched.fetched.strftime('%d-%m-%Y %H:%M:%S') }} UTC</span>
                </p>

                <p class="card-text calculatedFloor" style="display: none;">Calculated: <b id="total-sol-amount">0 SOL</b> (<span id="total-currency-amount">0</span>{{ currency.sign }})
                    <br><span class="date">{{ nftfetched.fetched.strftime('%d-%m-%Y %H:%M:%S') }} UTC</span>
                </p>

                <p class="card-text">1 SOL = <b>{{ '%.3f' | format(currency.price) }}{{ currency.sign }}</b>
                    <br><span class="date">{{ currency.fetched.strftime('%d-%m-%Y %H:%M:%S') }} UTC</span>
                </p>

                <div class="btn-group dropup-center">
                    <button type="button" id="theme" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Theme</button>
                    <div class="dropdown-menu dropdownitems" aria-labelledby="theme">
                        <a class="dropdown-item" data-bs-theme-value="light" href="#">Light</a>
                        <a class="dropdown-item" data-bs-theme-value="dark" href="#">Dark</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" data-bs-theme-value="auto" href="#">Auto</a>
                    </div>
                </div>

                <div class="btn-group dropup-center">
                    <button type="button" id="currency" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Currency</button>
                    <div class="dropdown-menu dropdownitems" aria-labelledby="currency">
                        {% for currency in currencies %}
                        <a href="?currency={{ currency.symbol }}" class="dropdown-item">{{ currency.sign }} - {{ currency.name|upper }}</a>
                        {% endfor %}
                    </div>
                </div>

                <div class="btn-group dropup-center">
                    <button type="button" id="options" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
                    <div class="dropdown-menu dropdownitems" aria-labelledby="options">
                        <a href="#" class="dropdown-item enable-calculator-link" id="toggle-calculator" onclick="toggleCalculator()">Show calculator</a>
                        <a href="#" class="dropdown-item" id="toggle-link" onclick="toggleNFTCards(event)">Show collectibles</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="nft-cards-container" style="display: none;">
        {% for nft in nfts | sort(attribute='order') %}
        {% if nft.order == 0 %}
        <div class="col-lg-4 col-md-12 col-sm-12 card-container {{ nft.symbol }}">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="card-title"><a href="https://magiceden.io/marketplace/{{ nft.symbol }}" target="_blank" class="card-link">{{ nft.name }} <i class="fa fa-external-link" aria-hidden="true"></i></a></h5>
                    <h6>#{{ nft.order }}</h6>
                </div>
                <div class="card-body nft-image" style="background-image: url('{{ nft.image }}');">
                    <p class="card-text">Floor: <b>{{ '%.3f' | format(nft.floorPrice / 1000000000) }} SOL</b> ({{ '%.2f' | format(nft.floorPrice / 1000000000 * currency.price) }}{{ currency.sign }})</p>
                    <p class="card-text">Listed: {{ nft.listedCount }} pcs</p>
                    <p class="card-text">Average 24h: {{ '%.3f' | format(nft.avgPrice24hr / 1000000000) }} SOL</p>

                    <!-- Calculator fields for each NFT -->
                    <div class="calculator-fields">
                        <input type="number" class="nft-quantity" data-floor-price="{{ nft.floorPrice }}" data-currency-price="{{ currency.price }}" value="0">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 card-container contact">
        <b>Feedback or contact?</b></br>
        <a href="https://discord.gg/WGYaCcApvQ" class="contact" target="_blank">
            Discord <i class="fa-brands fa-discord" alt="Feedback and NFT-bot"></i>
        </a> -
        <a href="https://github.com/webbnik/TML-NFT-BOT" class="contact" target="_blank">
            GitHub <i class="fa-brands fa-github" alt="Github"></i>
        </a>
    </div>

    <script src="{{ url_for('static', filename='js/calculate_fields.js') }}"></script>
</body>

</html>