name: Build TML-NFT-BOT

on:
  push:
    branches:
      - master
  
jobs:
  build:
    runs-on: [self-hosted, console]
    name: Checkout code and build containers
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Build container from Dockerfile
        run: |
          docker build . -t registry.1webhost.xyz/tml-nft-bot:${GITHUB_SHA} -t registry.1webhost.xyz/tml-nft-bot:latest

  push:
    runs-on: [self-hosted, console]
    name: Push all images to image repository
    needs: build
    steps:
      - name: Push image
        run: |
          docker image push registry.1webhost.xyz/tml-nft-bot:${GITHUB_SHA}
          docker image push registry.1webhost.xyz/tml-nft-bot:latest          
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          title: "TML-NFT-BOT build and push"
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
  
  restart:
    runs-on: [self-hosted, console]
    name: Restart containers
    needs: push
    steps:
      - name: Aplly manifests
        run: |
          kubectl apply -f kubernetes/.
      - name: Set image
        run: |
          kubectl set image deployment/tml-nft-bot tml-nft-bot=registry.1webhost.xyz/tml-nft-bot:${GITHUB_SHA}
      - name: Restart containers
        run: |
          kubectl rollout restart deploy tml-nft-bot
          kubectl rollout restart deploy statsd-exporter
      - uses: sarisia/actions-status-discord@v1
        if: always()
        with:
          title: "TML-NFT-BOT restart"
          webhook: ${{ secrets.DISCORD_WEBHOOK }}

